import { HttpClient } from '@angular/common/http';
import { Injectable } from '@angular/core';
import { CrudService } from 'fwk';
import { <%= classify(name) %> } from '../models/<%= classify(name) %>';

@Injectable({
  providedIn: 'root'
})
export class <%= classify(name) %>Service extends CrudService<number, <%= classify(name) %>> {
  constructor(protected override http: HttpClient) { 
    super('<%= path %>', http);
  }
}
